<html ng-app>

<head>
<link rel="stylesheet" href="css/styles.css">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="https://www.parsecdn.com/js/parse-1.3.4.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"></script>
</head>

<body ng-controller="MainCtrl" ng-cloak>
  <table class="bordered">
    <tr id="title">
      <td>Cloud9 URL</td>
      <td>Name</td>
      <td>Email</td> 
      <td>Gtalk</td>
      <td>Odesk Profile</td>
      <td>Odesk Profile (old field)</td>
      <td>Skype ID</td>
      <td>Updated At</td>
    </tr>
    
      <tr ng-repeat="note in notes">
        <td>{{note.attributes.cloud9_urll}}</td>
        <td>{{note.attributes.name}}</td>
        <td>{{note.attributes.email}}</td>
        <td>{{note.attributes.gtalk}}</td>
        <td>{{note.attributes.odeskprofile}}</td>
        <td>{{note.attributes.odesk}}</td>
        <td>{{note.attributes.skype}}</td>
        <td>{{note.updatedAt}}</td>
      </tr>

  </table>
  <script type="text/javascript">
      
      	var parseAPPID = "UWW0790oKQJjqcuaDQxQ5htv5tNUDpRUyrWaLq37";
	var parseJSID = "QiwsalIT05TNMRv1MHC6am8bDzeNFOaBzoIqKI9g";
    Parse.initialize(parseAPPID, parseJSID);
    
    var PObject = Parse.Object.extend("Employees");
      var query = new Parse.Query(PObject);
          
    function MainCtrl($scope, $timeout) {
      var self = $scope,
          result;
      
      query.find({
              success: function(suc) {
                result = suc;
              },
              error: function(error) {
                alert("Error: " + error.code + " " + error.message);
              }
        });

      $timeout(function(){
        self.notes = new Array();
        for(var i = result.length - 1, j = 0; i >= 0; i--, j++){
          self.notes[j] = result[i];
        }
      },2000);  

      }
  </script>
</body>
</html>