<!doctype html>
<head>
  <meta charset="utf-8">

  <title></title>
  <link rel="stylesheet" href="css/styles.css">
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.3.4.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"></script>
</head>

<body ng-app="app">
  <p class="success"></p>  
  <form class="webform" id="jobapp" ng-submit="submit()" ng-controller="contr">
    <label for="name">Name</label></br>
    <input type="text" ng-model="form.name" required></br>
    
    <label for="email">Email</label></br>
    <input type="email" name="email" id="email" ng-model="form.email"required></br>
    
    <label for="odeskprofile">Odesk Profile</label></br>
    <input type="text" name="odeskprofile" id="odeskprofile" ng-model="form.odeskprofile" required></br>
    
    <label for="gtalk">Gtalk / Google Hangouts ID</label></br>
    <input type="text" name="gtalk" id="gtalk" ng-model="form.gtalk" required></br>
    
    <label for="skype">Skype ID</label></br>
    <input type="text" name="skype" id="skype" ng-model="form.skype" required></br>
    
    <input type="submit" value="Submit">
  </form>

  <script type="text/javascript">
    Parse.initialize("Application ID", "JavaScript key");

    angular.module("app", [])
       .controller("contr", ['$scope', function($scope) {
        $scope.submit = function() {
        
        var PObject = Parse.Object.extend("Employees");
        var pObject = new PObject();
              
          pObject.save($scope.form, {
          success: function(object) {
            //user successfully submited
            $(".webform").fadeOut(function(){
             $(".success").append("You have done successfully").show();
            });
          },
          error: function(model, error) {
            //handling error
            $(".success").append("Error").show();
            console.log($scope.form);
          }
        });
       }
       
    }]);

  </script>
</body>

</html>
