<% if (page.pagetype === "contractor") {
    var menuContainer = theme.menucontractor
} else { 
    var menuContainer = theme.menustore
} %>

<% for (var i in menuContainer) { %>
  <li><a class="analytics" href="<%- menuContainer[i] %><%= suffix %>"><%= i %></a></li>
<% } %>