<div ng-controller="MainCtrl" ng-app ng-cloak>
  <table class="bordered">
    <tr id="title">
      <td>Name</td>
      <td>Email</td>
      <td>Start Date</td>
      <td>Hours Estimate</td>
      <td>Bid - Fixed Price</td>
    </tr>
    
      <tr ng-repeat="note in notes">
        <td>{{note.attributes.name}}</td>
        <td>{{note.attributes.email}}</td>
        <td>{{note.attributes.startdate}}</td>
        <td>{{note.attributes.hoursestimate}}</td>
        <td>{{note.attributes.bidfixedprice}}</td>
      </tr>

  </table>
</div>

  <script type="text/javascript">

    function getParameterByName(name) {
        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
            results = regex.exec(location.search);
        return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }

    var jobid_var = getParameterByName('jobidparam');
    
    var PObject = Parse.Object.extend("TaskBid");
    var query = new Parse.Query(PObject);
    
    query.equalTo("jobid", jobid_var);

    function MainCtrl($scope, $timeout) {

      var self = $scope,
          result;
      
      query.find({
              success: function(suc) {
                result = suc;
              },
              error: function(error) {
                alert("Error: " + error.code + " " + error.message);
              }
        });

      $timeout(function(){
        self.notes = new Array();
        for(var i = result.length - 1, j = 0; i >= 0; i--, j++){
          self.notes[j] = result[i];
        }
      },2000);  

      }
    
    </script>