<div ng-controller="MainCtrl" ng-app ng-cloak>
  <table class="bordered">
    <tr id="title">
      <td>Cloud9 URL</td>
      <td>Name</td>
      <td>Email</td>
      <td>Gtalk</td>
      <td>Odesk Profile</td>
      <td>Odesk Profile (old field)</td>
      <td>Skype ID</td>
      <td>Updated At</td>
    </tr>
    
      <tr ng-repeat="note in notes">
        <td>{{note.attributes.cloud9_url}}</td>
        <td>{{note.attributes.name}}</td>
        <td>{{note.attributes.email}}</td>
        <td>{{note.attributes.gtalk}}</td>
        <td>{{note.attributes.odeskprofile}}</td>
        <td>{{note.attributes.odesk}}</td>
        <td>{{note.attributes.skype}}</td>
        <td>{{note.updatedAt}}</td>
      </tr>

  </table>
</div>
<script>


    var PObject = Parse.Object.extend("JobApplication");
    var query = new Parse.Query(PObject);

    function MainCtrl($scope, $timeout) {

      var self = $scope,
          result;
      
      query.find({
              success: function(suc) {
                result = suc;
              },
              error: function(error) {
                alert("Error: " + error.code + " " + error.message);
              }
        });

      $timeout(function(){
        self.notes = new Array();
        for(var i = result.length - 1, j = 0; i >= 0; i--, j++){
          self.notes[j] = result[i];
        }
      },2000);  

      }

</script>