<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="/favicon/favicon-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="/favicon/favicon-160x160.png" sizes="160x160">
  <link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/favicon/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="/favicon/favicon-32x32.png" sizes="32x32">
  <meta name="msapplication-TileColor" content="#00aba9">
  <meta name="msapplication-TileImage" content="/mstile-144x144.png">

  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/custom.css">


  <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
  <script src='/js/libs/jquerygit2.js'></script>
  <script src='/js/libs/jquerydebounce.js'></script>
  <script src='/js/libs/jqueryfinger.js'></script>
  <script src='/js/libs/jquerymin.js'></script>
  <script src='/js/libs/jquerytouch.js'></script>
  <script src='/js/libs/bootstrap.js'></script>
  <script src='/js/libs/owl.js'></script>
  <script src='/js/custom.js'></script>
  <script src="https://parse.com/downloads/javascript/parse-1.3.3.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"></script>

  <script type="text/javascript">
    window.heap=window.heap||[],heap.load=function(t,e){window.heap.appid=t,window.heap.config=e;var a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=("https:"===document.location.protocol?"https:":"http:")+"//cdn.heapanalytics.com/js/heap.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n);for(var o=function(t){return function(){heap.push([t].concat(Array.prototype.slice.call(arguments,0)))}},p=["clearEventProperties","identify","setEventProperties","track","unsetEventProperty"],c=0;c<p.length;c++)heap[p[c]]=o(p[c])};
    heap.load("1118694644");
  </script>
</head>

<body>

  <%- partial( '_partial/navbar', {class_name: 'navbar'}) %>

  <div class="container">

    <div id="main-content" class="clearfix">

      <div id="container">
        <div id="wrap">
          <div class="outer">
            <section id="main">

              <%- partial( 'page', {post: page, index: false}) %>
                
            </section>
          </div>
        </div>
      </div>
        
      <div class="footer">
          <p>&copy; StackSavings 2015</p>
      </div>
    <div>
  </div><!-- /container -->
</body>

</html>
