<% if (page.imgfolder != undefined&& page.pagetype == 'toptenlist') { %>
    <%- partial( 'sliders/toptenslider', {class_name: 'toptenlist'}) %>
<% } else if (page.imgfolder != undefined ) { %>
    <%- partial( 'sliders/productslider', {class_name: 'productslider'}) %>
<% } %>