
<% if (page.form != undefined) { %>
    <%- partial( 'form', {class_name: 'form-' + page.form}) %>
<% } %>

<% if (page.formtaskcreate != undefined) { %>
    <%- partial( 'form-job-create', {class_name: 'form-' + page.form}) %>
<% } %>

<% if (page.formbid != undefined) { %>
    <%- partial( 'form-job-bid', {class_name: 'form-' + page.form}) %>
<% } %>

<% if (page.view != undefined) { %>
    <%- partial( 'views/' + page.view, {class_name: 'view-' + page.view}) %>
<% } %>