<div ng-app="app">
  <p class="success"></p>  
    <br/>
  <form class="webform" id="jobapp" ng-submit="submit()" ng-controller="contr">

    <label for="jobid">Job ID</label></br>
    <input type="text" name="jobid" id="skype" ng-model="form.jobid" required></br>
    
    <label for="job">Job Description</label></br>
    <textarea cols="50" rows="4" name="jobdescription" id="jobdescription" ng-model="form.jobdescription"required></textarea>
    
    <br/>
    <input type="submit" value="Submit">
  </form>
  
  <br/>

  <script type="text/javascript">

    angular.module("app", [])
       .controller("contr", ['$scope', function($scope) {
        $scope.submit = function() {
        
        var PObject = Parse.Object.extend("JobListing");
        var pObject = new PObject();
              
          pObject.save($scope.form, {
          success: function(object) {
            //user successfully submited
            $(".webform").fadeOut(function(){
             $(".success").append("Thank you for your your submission, we will be in touch soon.").show();
            });
          },
          error: function(model, error) {
            //handling error
            $(".success").append("There was a problem submitting your form").show();
            console.log($scope.form);
          }
        });
       }
       
    }]);

  </script>
  
</div