<div ng-app="app">
  <p class="success"></p>  
    <br/>
  <form class="webform" id="jobapp" ng-submit="submit()" ng-controller="contr">
    
    <label for="cloud9_url">Cloud9 Workspace Url</label></br>
    <input type="text" name="cloud9_url" id="cloud9_url" ng-model="form.cloud9_url"required></br>
    
    <label for="name">Name</label></br>
    <input type="text" ng-model="form.name" required></br>
    
    <label for="email">Email</label></br>
    <input type="email" name="email" id="email" ng-model="form.email"required></br>
    
    <label for="odeskprofile">Odesk Profile URL</label></br>
    <input type="text" name="odeskprofile" id="odeskprofile" ng-model="form.odeskprofile" required></br>
    
    <label for="gtalk">Google Hangouts ID</label></br>
    <input type="text" name="gtalk" id="gtalk" ng-model="form.gtalk" required></br>
    
    <label for="skype">Skype ID</label></br>
    <input type="text" name="skype" id="skype" ng-model="form.skype" required></br>
    
    <br/>
    <input type="submit" value="Submit">
  </form>
  
  <br/>

  <script type="text/javascript">

    angular.module("app", [])
       .controller("contr", ['$scope', function($scope) {
        $scope.submit = function() {
        
        var PObject = Parse.Object.extend("JobApplication");
        var pObject = new PObject();
              
          pObject.save($scope.form, {
          success: function(object) {
            //user successfully submited
            $(".webform").fadeOut(function(){
             $(".success").append("Thank you for your your submission, we will be in touch soon.").show();
            });
          },
          error: function(model, error) {
            //handling error
            $(".success").append("There was a problem submitting your form").show();
            console.log($scope.form);
          }
        });
       }
       
    }]);

  </script>
  
</div