<div ng-app="app">
    
  <p class="success"></p>  
    <br/>
    <div ng-controller="MainCtrl" ng-app ng-cloak>
        {{jobDescription}}
        <br/>
        <br/>
    </div>
    
  <form class="webform" id="jobapp" ng-submit="submit()" ng-controller="contr">
    
    <label for="name">Name</label></br>
    <input type="text" name="name" id="name" ng-model="form.name" required></br>
    
    <label for="email">Email</label></br>
    <input type="text" name="email" id="email" ng-model="form.email" required></br>
    
    <label for="startdate">Start date you would be available</label></br>
    <input type="text" name="startdate" id="startdate" ng-model="form.startdate" required></br>
    
    <h1>Please choose to enter just one of the fields below:</h1>
    <br/>
    <label for="hoursestimate">Estimate (Number of working hours it will take to do this, only estimate actual working hours)</label></br>
    <input type="text" name="hoursestimate" id="hoursestimate" ng-model="form.hoursestimate" required></br>
    
    <label for="bidfixedprice">Fixed bid price (no estimate of hours needed)</label></br>
    <input type="text" name="bidfixedprice" id="bidfixedprice" ng-model="form.bidfixedprice" required></br>
    
    
    
    
    
    
    <br/>
    <input type="submit" value="Submit">
  </form>
  
  <br/>
  
</div>

  <script type="text/javascript">

    function getParameterByName(name) {
        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
            results = regex.exec(location.search);
        return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }

    var jobid_var = getParameterByName('jobidparam');
    
    var parseJobListing = Parse.Object.extend("JobListing");
    var query = new Parse.Query(parseJobListing);

    query.equalTo("jobid", jobid_var);

    function MainCtrl($scope, $timeout) {

      var self = $scope,
          result;
     
     var jobDescriptionVal = ""
      query.find({
              success: function(suc) {

                result = suc;

                jobDescriptionVal = result[0].attributes.jobdescription

              },
              error: function(error) {
                alert("Error: " + error.code + " " + error.message);
              }
        });

    $scope.jobDescription = "Loading Job Description.."

//TODO why is this using timeout
      $timeout(function(){

        $scope.jobDescription = jobDescriptionVal 
      },2000);  

    }
    

    angular.module("app", [])
       .controller("contr", ['$scope', 
           function($scope) {

        $scope.submit = function() {
        
        var PObject = Parse.Object.extend("TaskBid");
        var pObject = new PObject();
        
        pObject.set("jobid", jobid_var)
              
          pObject.save($scope.form, {
          success: function(object) {
            //user successfully submited
            $(".webform").fadeOut(function(){
             $(".success").append("Thank you for your your submission, we will be in touch soon.").show();
            });
          },
          error: function(model, error) {
            //handling error
            $(".success").append("There was a problem submitting your form").show();
            console.log($scope.form);
          }
        });
       }
       
    }]);

  </script>
  
